.sales__display {
    display: flex;
    margin-top: 100px;
    gap: 129px;
}

.rectangle {
    position: relative;
    width: 490px;
    height: 458px;
    background: linear-gradient(127.1deg, #BBD7FF 3.05%, #3A81E4 102.74%);
    border-radius: 39px;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 920px) {
    .sales__display {
       flex-direction: column;
    }

    .rectangle, .rectangle img {
        width: 90%;
    }

    .sales__left {
        margin-top: 300px;
    }

    .sales__left span, p, h1 {
        text-align: center;
    }
}